body {
  background-color: #F2F4FF;
}

header {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  flex: 1 1 600px;
  list-style: none;
}

header li {
  flex: 1 1 100px;;
}

.new-entry-form, .login-container {
  max-width: 600px;
  border-radius: 32px;
  margin: 24px auto;
}

.entry-row {
  display: flex;
}

.entry-row label{
  display: block;
  margin-bottom: 16px;
}

.entry-col {
  margin: 0 50px 0 0;
  flex: 1 1 200px;
}
.entry-col input {
  width: 100%;
  height: 32px;
  padding: 0 12px;
  border: solid 1px lightgray;
}

table {
  text-align: center;
}

table th {
  padding: 12px;
}

table td {
  padding: 12px;;
}

.table-header {
  background-color: #96C5F7;
}

.even-row {
  background-color: #93ACB5;
}

.login-container {
  width: 300px;;
}

.signin-row {
  margin-bottom: 10px;
}

.signin-row input {
  width: 80%;
  height: 32px;
  padding: 0 12px;
  border: solid 1px lightgray;
}