header {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  flex: 1 1 600px;
  list-style: none;
}

header li {
  flex: 1 1 100px;;
}

.new-entry-form {
  border: 1px black solid;
}

.entry-row {
  display: flex;
}

.entry-row label{
  display: block;
}

.entry-col {
  margin: 16px;
  flex: 1 1 200px;
}
.entry-col input {
  width: 100%;
  height: 24px;
}